button:nth-child(4n),
button:last-child {
  background: #32cd32; /* Verde cintilante */
}

button:nth-child(4n):hover,
button:last-child:hover {
  background: #2eb82e; /* Um tom mais escuro de verde cintilante para o hover */
}
